<div class="container">
  <h2>Task Manager</h2>

  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search by task description"
    class="search-bar"
    (input)="searchTasks()"/>

  <button (click)="openTaskForm()" class="btn btn-primary">
    <span nz-icon nzType="plus-circle"></span>
    <span> Add New Task</span>
  </button>


  <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of filteredTasks; trackBy: trackByTaskId">
      <td><a (click)="viewTaskDetails(task)">{{ task.title }}</a></td>
      <td>{{ task.status }}</td>
      <td>
        <button (click)="editTask(task)" class="btn btn-warning">
          <span nz-icon nzType="edit"></span>
          <span> Edit</span>
        </button>

        <button (click)="deleteTask(task.id)" class="btn btn-danger">
          <span nz-icon nzType="delete"></span>
          <span> Delete</span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="modal" [ngClass]="{ 'is-visible': showTaskForm }">
    <div class="modal-content custom-form">
      <form nz-form [formGroup]="taskFormGroup" (ngSubmit)="saveTask()">

        <h3>{{ editingTask ? 'Task Details' : 'Add Task' }}</h3>

        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Invalid title! Title must be 3-50 characters!">
            <input nz-input placeholder="Title" formControlName="title"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Invalid description! Description Must be 5-200 characters!">
            <input nz-input placeholder="Description" formControlName="description"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Please select a type!">
            <nz-select formControlName="type" nzPlaceHolder="Select Type">
              <nz-option nzValue="TASK" nzLabel="Task"></nz-option>
              <nz-option nzValue="BUG" nzLabel="Bug"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control nzHasFeedback nzErrorTip="Invalid status!">
            <nz-select formControlName="status" nzPlaceHolder="Select Status">
              <nz-option nzValue="PENDING" nzLabel="Pending"></nz-option>
              <nz-option nzValue="IN_PROGRESS" nzLabel="In Progress"></nz-option>
              <nz-option nzValue="COMPLETED" nzLabel="Completed"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control
            nzHasFeedback
            [nzErrorTip]="
                          taskFormGroup.get('createdOn')?.hasError('required') ? 'Date is required!' :
                          taskFormGroup.get('createdOn')?.hasError('futureDate') ? 'Date cannot be in the future!' : ''">
            <nz-date-picker
              nz-input
              nzFormat="dd-MMM-yyyy"
              formControlName="createdOn"
            ></nz-date-picker>
          </nz-form-control>
        </nz-form-item>

        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
          {{ editingTask ? 'Update' : 'Create' }}
        </button>

        <button
          nz-button
          class="login-form-button login-form-margin"
          (click)="closeTaskForm(); $event.preventDefault()"
          nzType="default">
          Cancel
        </button>

      </form>
    </div>
  </div>

  <div class="modal" [ngClass]="{ 'is-visible': showTaskDetails }">
    <div class="modal-content custom-form">
      <h3>Task Details</h3>
      <p><strong>Title:</strong> {{ selectedTask?.title }}</p>
      <p><strong>Description:</strong> {{ selectedTask?.description }}</p>
      <p><strong>Type:</strong> {{ selectedTask?.type }}</p>
      <p><strong>Status:</strong> {{ selectedTask?.status }}</p>
      <p><strong>Created On:</strong> {{ selectedTask?.createdOn }}</p>
      <button nz-button nzType="default" (click)="closeTaskDetails()">Close</button>
    </div>
  </div></div>
