<h1>Welcome to Task Manager</h1>
<h3>This is a Jira clone with some cute added bits!</h3>
<hr>

<h1>Now meet my pets!</h1>
<div class="gallery">
  <div class="image-container">
    <img src="/assets/gallery/cat1.jpg" alt="Pukse (RIP)">
    <div class="label">Pukse (RIP)</div>
  </div>
  <div class="image-container">
    <img src="/assets/gallery/cat3.jpeg" alt="Titan">
    <div class="label">Titan (My son)</div>
  </div>
  <div class="image-container">
    <img src="/assets/gallery/dog2.jpg" alt="Rozi">
    <div class="label">Rozi (My darling, Labrador)</div>
  </div>
  <div class="image-container">
    <img src="/assets/gallery/dog3.jpg" alt="Stella">
    <div class="label">Stella (My baby girl, Bernese)</div>
  </div>
</div>
