<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
  >
    <div class="sidebar-logo">
      <!--suppress HtmlUnknownTarget -->
      <img src="logo.png" alt="logo">
      <h1>Task Manager</h1>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter routerLink="/welcome">
        <span nz-icon nzType="home"></span>
        <span><strong>Welcome</strong></span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/tasks">
        <span nz-icon nzType="check-square"></span>
        <span><strong>Task List</strong></span>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/users">
        <span nz-icon nzType="user"></span>
        <span><strong>User List</strong></span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <nz-icon class="trigger" [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"/>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
    <nz-footer><h2>© 2025 - Elīza Kanska</h2></nz-footer>
  </nz-layout>
</nz-layout>
